<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrlShort - Lien Créé</title>
</head>

<body>
    <h1>Le lien a été créé avec succès</h1>
    <p>Vous pouvez dès maintenant le copier: <a href=<%=url %>><%= url %></a></p>
</body>

</html>