<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrlShort - Créer un lien</title>
</head>

<body>
    <form action="/newlink" method="POST">
        <input type="text" name="shortname" id="shortname" placeholder="Personaliser le nom (Aléatoire si laissé vide)">
        <input type="text" name="url" id="url" placeholder="Copier l'URL ici" required>

        <input type="submit" value="Créer le lien">
    </form>
</body>

</html>